***Pi433.service***
[Unit]
Description=Pi433-Service
After=multi-user.target

[Service]
Type=simple
ExecStart=export FLASK_APP=___PATH___/scripts/pi-433.py && flask run --host=0.0.0.0
User=pi
WorkingDirectory=___PATH___
Restart=always

[Install]
WantedBy=multi-user.target